//color variables 
$white-color:#FFFFFF;
$grey-color:#7D7D7D;
$color-text:#002147;

$brown-bgcolor:#841E25;
$header-bg-color:#FBF9F9;
$black-bg-color:#000000;

$search-border:#BDBDBD;
$header-border:#707070;